


body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
}

p{
    color: #3b506c;
}

.container{
    width: 90%;
    margin: auto;
}

header{
 box-shadow:rgba(33, 35, 38, 0.1) 0px 15px 13px -10px;
}

.nav-main{
display: flex;
justify-content: space-between;
padding:30px 0;
align-items: center;
}

.nav-main img{

}

nav{

}

nav ul{
    margin:0;
    padding:0
    /*display:flex;*/

}

nav ul li{
    display:inline;
    padding: 10px 22px 12px 24px;
}

nav ul li a{
   text-decoration:none; 
   color: #3b506c;
   font-weight:600px;
   font-size:17px;
}

/*========banner start=====*/
.banner{
    text-align:center;
    margin:100px 0 0 0;
}
.banner h1{
    font-size: 40px;
    color: #3b506c;
    margin:0;
}
.banner h1 span{
color: #0c66ffd1;
}

.banner p{
    font-size: 18px;
}
.banner img{     
width: 60%;    
margin: auto;
margin:25px 40px 30px 60px;  
}
/*=====banner end=====*/

/*=====completed project=====*/
.complete{
display:flex;
margin:50px 0 0 0;
}

.complete-child{
width:50%;
text-align:right;
padding:25px;
}

.complete-child h2{
font-size:40px;
color: #3b506c;
}

.complete-child p{

}

.child1{
color: red !important;
}
.child2{
    text-align:left;
}